/* Author: Chor Tsang / Shiseido
   Created: JAN 2022
   File Description: IPSA STAMP CARD CAMPAIGN
*/

/*===============================
FONTS
=================================*/


@font-face {
    font-family:"MSJhengHei-Light";
    src: url("fonts/MSJhengHei-Light.ttc") format('ttc');
    /* src: url("fonts/MSJhengHei-Light.otf");
    src: url("fonts/MSJhengHei-Light.woff") format('woff'),
         url("fonts/MSJhengHei-Light.eot"); */
}

@font-face {
    font-family:"MSJhengHei-Bold";
    src: url("fonts/MSJhengHei-Bold.ttc") format('ttc');
    /* src: url("fonts/MSJhengHei-Light.otf");
    src: url("fonts/MSJhengHei-Light.woff") format('woff'),
         url("fonts/MSJhengHei-Light.eot"); */
}

@font-face {
    font-family:"helvetica";
    src: url("fonts/Helvetica-lt-55.ttc") format('ttc');
    /* src: url("fonts/MSJhengHei-Light.otf");
    src: url("fonts/MSJhengHei-Light.woff") format('woff'),
         url("fonts/MSJhengHei-Light.eot"); */
}

@font-face {
font-family: 'DINPro-Medium';
font-style: normal;
font-weight: normal;
src: url(fonts/'DINPro-Medium.woff') format('woff');
}

/*===============================
BASICS
=================================*/

body {
  background:#ffffff;
  font-family:'MSJhengHei-Light','helvetica-lt',sans-serif;
}

h1{
  font-size: 48px;
}

h2{
  font-size: 40px;
  font-family: 'DINPro-Medium','MSJhengHei-Light','helvetica-lt',sans-serif;
  line-height:1.5;
}

h3{
  font-size: 32px;
  font-family: 'DINPro-Medium','MSJhengHei-Light','helvetica-lt',sans-serif;
  font-weight:bold;
  line-height:1.5;
}

h4{
  font-size:18px;
  margin:20px 0;
  font-weight:bold;
}

h5 {
    font-size: 12px;
    margin-top: 0px;
    font-weight: bold;
}

a {
    text-decoration: none !important;
    outline: none !important;
    color:#000 !important;
    line-height:2em;
}

p{
    font-size: 15px;
    line-height: 1.3;
    color:#000000;
    margin-bottom:0px;
}


/*===============================
LOGO
=================================*/
.logo {width:80px;}

.logo{
  background-image: url('../images/logo-ipsa.svg');
  background-size: cover;
  background-position: center center;
  position: relative;
}



.logo2 {
    width: 160px;
}

.logo2 {
    background-image: url('../images/logo-ipsa.svg');
    background-size: cover;
    background-position: right;
    position: relative;
    display: inline-block;
}

.logo3 {
    width: 100px;
}

.logo4 {
    width: 60px;
}


/*===============================
MATERIAL DESIGN ICONS
=================================*/
.mdi{
  color:#000;
}

#header .mdi{
  font-size:24px;
  top:6px;
  position:relative;
}

/*===============================
SLIDER
=================================*/

.home-slider {
    /* position: relative;
    top:-20px; */
  }

.home-slider .carousel-control-next,
.carousel-control-prev {
    width: 6%;
}

.home-slider .carousel-item,
.home-slider .carousel {
    width: 100%;
}

.home-slider .carousel-item {
    background-position: center center;
    background-size: cover;
    margin-top:52px;
}

.home-title {
    font-size: 42px;
}

.home-desc {
    max-width: 700px;
}

.carousel-control-next-icon{
  background-image: url('../images/arrow-right.svg');
  right: 10px;
  position: relative;
  }

.carousel-control-prev-icon{
  background-image: url('../images/arrow-left.svg');
  left: 10px;
    position: relative;
  }

.carousel-control-next-icon, .carousel-control-prev-icon{
  height:-webkit-fill-available;
  width:32px;
}



/*===============================
BOOTSTRAP MODIFICATIONS
=================================*/
.w50{
  width:50%;
}

.w25{
  width:25%;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.vertical-content {
  position: absolute;
  width: 100%;
}



/*===============================
BUTTONS
=================================*/

.cta{
  position:relative;
  bottom:-40px;
}

.btn {
    padding: 11px 28px;
    font-size: 12px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    background:#000000;
    border:1px solid;
    border-color:#000000;
    min-width:220px;
    color:#ffffff !important;
    margin: 0 10px;
    border-radius: 0 !important;
}

.btn>.mdi{
  color:#ffffff;
}


.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
    box-shadow: none !important;
    background: #c5a181;
    color: #000000 !important;
    border-color:#c5a181;
}
.btn-custom:hover>.mdi{
  color: #000000 !important;
}

.text-custom{
    color: #ee3158;
}

.bg-custom{
    background-color: #ee3158;
}

.btn-submit{
 width:100%;
 margin:0;
}


/*===============================
Navbar Custom
=================================*/

.navbar-custom {
  color:#fff;
    padding: 15px 0px;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.3s ease-in-out;
    background:#FFFFFF;
    box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.14);
    -webkit-box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.14);
}

.navbar-custom .navbar-nav li a {
    color: #fff;
    font-size: 14px;
    transition: all 0.5s;
    background-color: transparent !important;
    padding: 6px 0;
    margin: 0 13px;
    font-weight: 600;
}

.navbar-custom .navbar-nav .nav-link {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active {
    color: #ee3158 !important;
}

.navbar-toggle {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ffffff;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
    border-color: #337ab7;
}

.navbar-custom .navbar-toggles {
    padding: .25rem .75rem;
    font-size: 18px;
    background: 0 0;
    border: 1px solid transparent;
    color: #fff;
    outline: 0;
}

.navbar-custom .navbar-toggles-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}

.menu-toggle {
    padding: 4.5px 10px !important;
}

.menu-toggle span {
    line-height: 27px;
}

.menu-item{
  font-size:12px;
  position: relative;
  top:2px;
}


/*===============================
NAVBAR STICKY
=================================*/

.nav-sticky.navbar-custom {
    margin-top: 0px;
    padding: 15px 0px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 33px rgba(0, 0, 0, .1);
}

.nav-sticky.navbar-custom.sticky-light {
    background-color: #fff;
}

.nav-sticky.navbar-custom .navbar-nav li a {
    color: #212121;
}

.nav-sticky.navbar-custom .navbar-nav li.active a,
.nav-sticky.navbar-custom .navbar-nav li a:hover,
.nav-sticky.navbar-custom .navbar-nav li a:active {
    color: #ee3158 !important;
}

.nav-sticky.navbar-custom .navbar-toggles {
    padding: .25rem .75rem;
    border: 1px solid transparent;
    outline: 0;
}

.nav-sticky .navbar-nav {
    margin-top: 0px;
}

.navbar-brand{
  display:block;
  margin:0 auto ;
}

/*===============================
TITLE
=================================*/


.title h1{
    position: absolute;
    color: rgba(0, 0, 0, 0.1);
    left: 0px;
    right: 0px;
    top: -45px;
}

/*==============================
HERO
================================*/

.home-center {
    width: 100%;
    /* min-height: 338px; */
    padding: 31% 0;
}


.home-desc-center {
    display: table-cell;
    vertical-align: middle;
}



.home-desc {
    max-width: 700px;
}


/************************
FORM
**************************/

.form-control {
    height: 46px;
    border: 1px solid #e9e6e6;
    font-size: 14px;
    border-radius:0;
    color:#999999;
}

textarea.form-control {
    height: auto;
}

.form-control:focus {
    border-color: #B89F8D;
    outline: 0;
    box-shadow: none;
}

.address-info {
    overflow: hidden;
}

.contact-info {
    font-size: 14px;
}

.error {
    margin: 8px 0px;
    display: none;
    color: red;
}

#ajaxsuccess {
    font-size: 14px;
    width: 100%;
    display: none;
    clear: both;
    margin: 8px 0px;
}

.error_message {
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid #ff4774;
    color: #ff4774;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

.contact-loader {
    display: none;
}


/************************
FOOTER
*************************/

.footer{
    padding-bottom: 20px;

    text-align:center;
}

.footer a{
  color:#000000 !important;
}

.footer p, .footer a{
  font-size:12px;
}

.footer_mdi {
    font-size: 20px;
}

.footer-menu li a {
    font-size: 14px;
    display: inline-block;
    transition: all 0.5s;
    line-height: 32px;
    color: #6c757d!important
  }

/************************
MODAL
**************************/

.modal-body{
  text-align:center;
  display:inline-grid;
  text-align: -webkit-center;
}

.modal-header{
  border-bottom:0;
}

.modal-body{
  line-height:2rem;
}

/************************
LISTS
**************************/

ol{
  padding-left: 10px !important;
  font-size:12px;
}

li{
  margin-bottom:10px;
}

/************************
CO CREATION RECIPE
**************************/
#introduction{
  background:#000000;
  color:#ffffff;
}

#skincondition{
  font-size:20px;
  padding: 12px 24px;
}

.sectionhead{
  border-bottom: 1px solid #000000;
}

.itemcard {
    background: #ffffff;
    border-radius: 8px;
    border: 2px solid #ECE6E1;
    min-height:360px;
    /* box-shadow: 0px 0px 32px 0px rgba(130,182,173,0.15);
  -webkit-box-shadow: 0px 0px 32px 0px rgba(130,182,173,0.15);
  -moz-box-shadow: 0px 0px 32px 0px rgba(130,182,173,0.15); */
}

.label{
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 8px;
  margin: 0 auto;
}

.label p{
  font-size:32px;
  color:#ffffff;
  font-family: 'DINPro-Medium','MSJhengHei-Light','helvetica-lt',sans-serif;
}

.day{
  background:#AE9E91;
}

.night{
  background:#303D5D;
}

.special{
  background:#000000;
}

#day{
  color:#AE9E91;
}

#night{
  color:#303D5D;
}

#special{
  color:#000000;
}


.delete{
  position: absolute;
  bottom: 0px;
  float: right;
  right: 40px;
}

.delete p, .delete .mdi{
  margin-top:20px;
  color:#FF0000;
  font-size:13px;
}

.emptylabel{
  min-height:56px;
}

.additem{
  background:#F5F5F5;
  min-height: 360px;
}

.additem p{
  color: #666666;
  position:relative;
  top:210px;
  margin: 0 auto;
}

.button{
  background-color: #FFFFFF;
  color: #AE9E91;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  font-size:24px;
  position: absolute;
  left: 40%;
  top: 50%;
  border: 1px solid #CECECE;
}

.pdf {
    color: #ffffff;
    padding: 6px 12px;
    background: #000000;
    border: 1px solid #000000;
}
/*************************
FORM
***************************/

.recipe{
  padding: 12px 16px;
  min-width: 340px;
  margin: 5px;
  border-radius:0px;
  border:none;
}

.custom-cta{
  padding: 10px 24px;
  margin: 5px;
  border-radius:0px;
  border:none;
  background: #ae9e91;
  color: #ffffff;
  text-transform: uppercase;
}

.custom-add {
    background: #AE9E91;
    color: #ffffff;
    border-radius: 0;
    border: none;
    padding: 4px 24px;
    margin: 0px 0px 10px 0;
    font-size: 13px;
    text-transform: uppercase;
}

.care-option{
  padding: 6px 12px;
  margin: 10px 0 0 0;
  border: 0 0 0 3px;
  border-radius: 0;
  border-style:none none solid none;
}

/************************
CUSTOM
**************************/
.mt-6{
  margin-top: 4rem !important;
}

.start{
  top:70px;
}

.small{
  font-size:12px;
}

.width100{
  width:100%;
}

.lang-select{
    color:#000000;
    top: 6px;
    position: relative;
}

.shadow{
  -webkit-box-shadow: 0px 10px 50px 0px rgba(238,239,231,0.5);
  -moz-box-shadow: 0px 10px 50px 0px rgba(238,239,231,0.5);
  box-shadow: 0px 10px 50px 0px rgba(238,239,231,0.5);
}

.padding-zero{
  padding-top:0;
}

.strong{
  font-weight: 600;
}

#summary a{
  color:#000000;
  text-decoration: underline !important;
}

hr{
  margin-top:0;
}

.thank-you{
background:#000000;
padding:20px;
margin: 20px auto;
position: relative;
width: 50%;
}

.v-center{
  padding-top:30%;
}

li{
  list-style:none;
}

.category p{

}

/************************
RESPONSIVE
**************************/

@media only screen and (max-width: 767px){
  .menu-item{
    display:none;
  }
}

@media only screen and (max-width: 599px) {
  .desktop{
    display:none;
  }

}

@media only screen and (min-width: 600px){

  .mobile{
    display:none;
  }
  .home-center {
    padding: 28% 0;
  }

}

@media only screen and (min-width: 900px){
  .home-center {
    padding: 25% 0;
}

@media only screen and (min-width: 992px){

  .img-fluid {
    min-height:480px;
    width:100%;
}
